<ion-item>
  <ion-card>
    <ion-img [src]="imagen"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>{{fuente}}</ion-card-subtitle>
      <span>{{fecha}}</span>
      <ion-card-title>{{titulo}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{contenido}}
    </ion-card-content>
    <ion-card-content>
      <ion-button fill="clear" (click)="openUrl()" color="secondary">
        <ion-icon size="large"  name="open-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear" shape="round" color="warning" (click)="saveArticle()">
        <ion-icon size="large" [name]="icon_heart"></ion-icon>
      </ion-button>
      <ion-button fill="clear" shape="round" color="dark" (click)="presentShareOptions()">
        <ion-icon size="large" name="share-social-outline"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>

</ion-item>