<app-header titulo="Categorias"></app-header>


<ion-content [fullscreen]="true" color="light">

      <!-- Icon start -->
      <ion-segment color="tertiary" scrollable value="bussiness" >
            <ion-segment-button (click)="onSegementClick($event)" layout="icon-start" *ngFor="let categoria of categorias; let i = index" [value]="i" >
                  <ion-label>{{categoria.name}}</ion-label>
                  <ion-icon [name]="categoria.icon"></ion-icon>
            </ion-segment-button>
      </ion-segment>

      <app-noticias [articulos] = "articulos" [titleHead] = "nameCategoria"></app-noticias>

      <ion-infinite-scroll threshold="100px" (ionInfinite)="cargarMasArticulos($event)">
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando...">
            </ion-infinite-scroll-content>
      </ion-infinite-scroll>

</ion-content>